.outercontainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
 
 
  }
  
  .div-container {
    display: flex;
    flex-direction: column;

  }
  
  .div-row {
    display: flex;
  }
  
  .my-div {
    width: 30px;
    height: 30px;
    opacity: 0;
    animation: reveal 0.5s ease forwards;
  }
  
  .white {
  background: linear-gradient(to bottom, black, white);
  }
  
  .black {
    background-color: rgba(0, 0, 0, 0.557);
  }
  
  @keyframes reveal {
    to {
      opacity: 1;
    }
  }
  