@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.mexican-container {
  background-color: rgba(152, 152, 152); /* Sampled from straw/first image */
  min-height: 100vh;
  padding: 70px 20px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222;
}

.mexican-title {
  font-size: 12vw;
  margin-bottom: 10px;
  color: rgb(80, 88, 118);
  letter-spacing: 4px;
   padding-bottom: 10px;
}

.mexican-schedule {
  width: 100%;
  max-width: 800px;
  z-index:3
}

.mexican-class {
  background: #fff6e5;
  border: 5px solid #2e375e; /* Blue border */
  border-radius: 8px;
  margin: 5px 0;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.836);
  opacity:.7;

}

.mexican-class-name {
  font-size: 20px;
  font-weight: bold;
  color: #2e375e;
}

.mexican-class-time {
  font-size: 16px;
  color: #333;
  font-style: italic;
}

.mexican-mariachi{
  position: absolute;
  bottom:0;
  z-index:2
}