@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

.rolex-container {
  background: #fdfcf7;
  min-height: 100vh;
  min-height: 100vh;
  padding: 0px 20px;
  font-family: 'Cinzel', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a77d2f;
  background: #0e2f2f; /* deep Rolex green */
}

.rolex-title {
  font-size: 11vw;
  margin-top: 300px;
  margin-bottom: 5px;
  text-shadow: 0 0 8px rgba(167, 125, 47, 0.3);
  letter-spacing: 2px;
}

.rolex-schedule {
  width: 100%;
  max-width: 800px;
}

.rolex-class {
  border: 2px solid #a77d2f;
  background: #fff9e9;
  margin: 5px 0;
  padding: 6px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(167, 125, 47, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeSlideIn 0.5s ease forwards;
  opacity: 0;
}

.rolex-class-name {
  font-size: 20px;
  font-weight: bold;
}

.rolex-class-time {
  font-size: 16px;
  font-style: italic;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
