@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');

.avatar-container {
  background: linear-gradient(#b1c1f3, #c5daf0);
  min-height: 100vh;
  padding: 80px 20px 40px;
  font-family: 'Caudex', serif;
  color: #0b3d91;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.avatar-container::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
   opacity: 0.2;
  z-index: 0;
  filter: brightness(0.5) saturate(1.3);
}

.avatar-header {
  margin-bottom: 20px;
  text-align: center;
  z-index: 1;
}

.avatar-day {
  font-size: 9vw;

  letter-spacing: 3px;
  text-shadow: 0 0 20px #005f99, 0 0 40px #003366;
}

.avatar-track {
  width: 100%;
  max-width: 800px;
  z-index: 1;
}

.avatar-class-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.avatar-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  background: rgba(211, 212, 212, 0.651);
  border-left: 4px solid #002f5f;
  border-right: 4px solid #002f5f;
  border-top: 1px solid #003366;
  border-bottom: 1px solid #003366;
  color: #0b3d91;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInAvatar 0.5s ease-out forwards;
  box-shadow: 0 0 20px #00408066, 0 0 50px #001f3f33;
  border-radius: 14px;
}

.avatar-class-name {
  font-size: 22px;
 
 }

.avatar-class-time {
  font-size: 20px;
   color: #0b3d91;
  font-style: italic;
 }

@keyframes fadeInAvatar {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
