@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  margin: 0;
  padding: 0;
  background: white;
}

.easter-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: white;
  background-size: 400% 400%;
  animation: shiftGradient 15s ease infinite;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}

@keyframes shiftGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.easter-card {
   z-index: 2;
  max-width: 90%;
  padding: 25px 15px;
  border-radius: 16px;
  text-align: center;
  margin-top: 60px;
  }

.easter-typewriter {
  font-family: 'Fredoka One', cursive;
  font-size: 1.7rem;
  color: #ff69b4;
  white-space: pre-wrap;
  line-height: 1.5;
}

@keyframes slideSideToSide {
  0% {
    transform: translateX(-50%);
  }
  25% {
    transform: scale(1.4);
  }
  50% {
    transform: translateX(50%) ;
  }
  75% {
    transform: scale(1.4) ;
  }
  100% {
    transform: translateX(-50%);
  }
}

.easter-bunny {
  width: 260px;
  position: absolute;
  bottom: 150px;
  animation: slideSideToSide 8s linear infinite;
  z-index: 2;
}
.easter-second{
    position: absolute;
    bottom: 70px;
    text-align: center;
    margin-left: 20px;
}