@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

.got-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #111111fe, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

/* Swords Container */
.sword-container {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Base Sword */
.sword {
  font-size: 10rem; /* Large swords */
  position: absolute;
  opacity: 0;
}

/* Left Sword */
.sword-left {
  color: beige;
  left: -80px;
  top:-8px;
  animation: slide-left 2.5s ease-in-out forwards;
  transform: rotate(-170deg);

}

/* Right Sword */
.sword-right {
  color: beige;
  right: -80px;
 
  animation: slide-right 2.5s ease-in-out forwards;
  transform: rotate(80deg);
}

/* Left Sword Animation */
@keyframes slide-left {
  0% {
    left: -100px;
    opacity: 1;
  }
  100% {
    left: 30%;
    opacity: 1;
  }
}

/* Right Sword Animation */
@keyframes slide-right {
  0% {
    right: -100px;
    opacity: 1;
  }
  100% {
    right: 30%;
    opacity: 1;
  }
}

/* Subtitle */
.got-subtitle {
  font-family: 'IM Fell English SC', serif;
  font-size: 2.5rem;
  color: #c9b47f;
  text-shadow: 
    2px 2px 8px rgba(255, 215, 0, 0.6),
    0 0 15px rgba(255, 69, 0, 0.5);
  margin-bottom: 20px;
}

/* Schedule */
.got-schedule {
  text-align: center;
  font-family: 'IM Fell English SC', serif;
  font-size: 1.8rem;
  color: #c9b47f;
  text-shadow: 
    2px 2px 8px rgba(255, 215, 0, 0.6), 
    0 0 15px rgba(255, 69, 0, 0.5);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* Show the schedule when the swords finish crossing */
.got-schedule.show {
  opacity: 1;
  transform: translateY(40px);
}

/* MOBILE OPTIMIZATION */
@media (max-width: 768px) {
  .sword {
    font-size: 6rem;
  }
  .got-subtitle {
    font-size: 2rem;
  }
  .got-schedule {
    font-size: 1.4rem;
  }
}
