.hospital-signs-container {
    background-color: black;
    padding: 24px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    width: 130px;
 
    border: 2px solid #444;
  }
.hospital-signs-outer-container{
    background-image: url(../Images/Doctor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
    background-size: contain;
    display: flex;
    align-items: center;
}
 
  
  .hospital-sign {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #444;
    padding: 8px 0;
    font-size: .7rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

  }
  

  .big{
    font-size: 1.3rem;
  }