@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

.thor-container {
  background: #0e0e0e;
  min-height: 100vh;
  max-height: 100vh;
 
  font-family: 'Cinzel', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d2e9ff;

}

.thor-title {
  font-size: 10vw;
  margin: 20px auto;;
 
  color: #c71f1f; /* Thor cape red */
  text-shadow: 0 0 10px rgba(199, 31, 31, 0.5);
  letter-spacing: 4px;
}

.thor-schedule {
  width: 100%;
  max-width: 800px;
}

.thor-class {
  background: #1a1a1a;
  border: 2px solid #c0c0c0; /* Silver armor outline */
  color: #ffffff;
 
  padding: 5px 30px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:60%;
  margin: 0px auto;
}

.thor-class-name {
  font-size: 20px;
  font-weight: bold;
  color: #c71f1f; /* Red accent */
}

.thor-class-time {
  font-size: 16px;
  color: #c0c0c0; /* Silver text */
}

.tenor{
  margin-top:50px;
 
  width:100%;
  border-bottom:2px solid white;
  border-top:2px solid white;
 
}

