@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
  --tim-red: #960a0a;
  --tim-cream: #ffffff;
  --tim-brown: #0a0808;
}
 
.tim-outer-container{
  background-color: #1a1616;
  height:100vh;
  padding-top: 80px;
}

.tim-container {
 position: relative;
 
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.lid{
  width:82%;
  height:10px;
  margin: 0 auto;
  background-color: white;

}

.tim-header {
    font-family: 'Poppins', sans-serif;
  font-size: 9vw;
  color: var(--tim-cream);
  margin-bottom: 32px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  margin-top: 35px;
}

 
.tim-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
   border-radius: 16px;
  padding: 10px 20px;
  transform: translateY(20px);
  opacity: 0;
  animation: fadeInTim 0.5s forwards;
  width:190px;
  
}

.tim-class-name {
  font-family: 'Poppins', sans-serif;
  font-size: 5.2vw;
  color: var(--tim-cream);
  max-width: 65%;
  word-break: break-word;
}

.tim-class-time {
  font-family: 'Poppins', sans-serif;
  font-size: 4.8vw;
  color: var(--tim-cream);
  font-weight: 600;
}

@keyframes fadeInTim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tim-hortons{
    width:230px;
 
    bottom:10px;
    transform: rotate(-33deg);
}

.tim-container {
  background: var(--tim-red);
   height: 60vh;
  padding: 40px 16px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  clip-path: polygon(10% 0, 90% 0, 75% 100%, 25% 100%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
 
}


.class-1{
 width:170px; 
 margin: 0 auto;
}

.tim-class-disclaimer{
      font-family: 'Poppins', sans-serif;
  font-size: 12px;
      color:white;
      font-weight: 400;
}